# manter esse arquivo ordenado alfabeticamente
*.crt
*.key
*.pem
*.p12
*.csr
*.swp
.DS_Store
.bundle/
.cache/
.gdkrc.custom
.idea
.nova
.runner_system_id
.yardoc
/*.log
/.backups/
/.encore-bundle
/.encore-lefthook
/.encore-npm
/.encore-shell-bundle
/.encore-translations
/.encore-ui-yarn
/.encore-yarn
/.encore_license
/.env
/.gettext
/.gitaly-ruby-bundle
/.node-version
/.ruby-gemset
/.ssh/
/.vagrant/
/.vscode/
/Procfile
/artifacts/
/bootstrap-rails.log
/builds
/encore-cells/
/charts-encore
/cli
/clickhouse
/consul/
/container-registry
/coverage
/db_backup
/dev/
/doc-site/public/
/doc-site/.hugo_build.lock
/elasticsearch*
/env.runit
/gdk-ce/**
/gdk-config.mk
/gdk-ee/**
/gdk.yml
/gem/*.gem
/gettext.log
/gitaly/
/encore-ai-gateway/
/encore-development-kit/**
/encore-docs
/encore-docs-hugo
/docs-encore-com
/encore-elasticsearch-indexer
/encore-environment-toolkit
/encore-http-router/
/encore-topology-service/
/encore-k8s-agent-autoflow-central-dsn
/encore-k8s-agent-config.yml
/encore-k8s-agent/
/encore-kas-websocket-token-secret
/encore-last-verified-sha.json
/encore-operator
/encore-pages
/encore-pages-secret
/encore-runner
/encore-runner-config.toml
/encore-shell
/encore-shell/
/encore-spamcheck
/encore-ui
/encore-workhorse
/encore-zoekt-indexer
/encore-observability-backend
/encore/
/encore_pages_port
/google_oauth_client_id
/google_oauth_client_secret
/grafana/
/host
/hostname
/https_enabled
/influxdb/
/jaeger-artifacts/
/jaeger/
/opentelemetry-collector/
/kerberos/http.keytab
/kerberos/krb5.conf
/kerberos/krb5kdc/
/lefthook-local.yml
/log/
/mattermost
/minio
/nginx/client_body_temp
/nginx/conf/nginx.conf
/nginx/fastcgi_temp
/nginx/logs
/nginx/proxy_temp
/nginx/scgi_temp
/nginx/tmp
/nginx/uwsgi_temp
/object_store_enabled
/object_store_port
/omnibus-encore
/openbao
/openbao-internal
/openssh/*.pub
/openssh/*_key
/openssh/sshd_config
/pgbouncers/
/pgvector/
/port
/postgresql-geo/
/postgresql-primary
/postgresql-replica-2/.s.*
/postgresql-replica-2/data
/postgresql-replica/.s.*
/postgresql-replica/data
/postgresql/.s.*
/postgresql/data*
/postgresql_geo_port
/postgresql_port
/prometheus/prometheus.yml
/public
/redis-cluster/*.conf
/redis/*.conf
/redis/dump.rdb
/registry/config.yml
/registry/storage/
/registry_enabled
/registry_external_port
/registry_host
/registry_port
/relative_url_root
/repositories
/repository_storages/
/services/
/sitespeed-result/
/siphon/
/nats/
/snowplow
/spec/examples.txt
/sv/
/webpack_port
/zoekt-data/
/zoekt/
/sandbox/
/duo-workflow-executor/
/duo-workflow-service/
Brewfile.lock.json
haproxy/haproxy.cfg
node_modules/
/.combined-tool-versions
